#formAdd{
    .thaotac{
        text-align: center;
        a{
            color: #fff;
        }
    }
}
.commonForm{
    float: left;
}
.textDanger{
    font-size: 12px;
    color: red;
}
.red{
    color: red;
}
input{
    width: 100%;
    max-width: unset;
}