a{
    :hover{
        color: green;;
    }
}
table{
    width: 100%;
    margin-bottom: 100px;
    td, th{
        border: 1px solid #ccc;
        padding: 12px;
        font-size: 13px;
    }
    .thaotac{
        text-align: center;
        a{
            padding:5px;
        }
    }
}
